@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Poppins', sans-serif;
      /* font-family: 'Roboto', sans-serif; */
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.page-content {
  @apply relative h-full flex-1 xl:justify-center justify-center flex flex-col gap-10;
}

.head-text {
  @apply text-[4rem] xl:leading-[11rem] leading-[7rem] font-bold;
}

.tabcontent-container {
  @apply glassmorphism max-w-[400px] md:max-w-[600px] h-[80%] border-[2px] rounded-lg flex flex-col justify-center items-center absolute right-0 left-0 top-0 bottom-0 m-auto;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.leva-c-kWgxhW {
  display: none !important;
}
