@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Poppins', sans-serif;
      /* font-family: 'Roboto', sans-serif; */
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit md:h-full flex md:justify-between justify-start items-start flex-col md:py-8 md:px-36 sm:p-8 p-6 max-md:gap-7 absolute z-10;
}

.page-content {
  @apply relative h-full flex-1 md:justify-center justify-end flex flex-col gap-10;
}

.head-text {
  @apply text-[3rem] md:text-[4rem] md:leading-[4.5rem] leading-[2rem] font-bold;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.shadow-text {
  text-shadow: 2px 2px 2px #000;
}

.leva-c-kWgxhW {
  display: none !important;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: #ccc;
  background-image: inherit; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 8s;
  z-index: 10;
}

.loading-text {
  font-size: 10rem;
}

.text-icon {
  font-family: 'Caveat', cursive;
}

.project-info svg .cls-1 {
  stroke: #d61a39;
}

@media(min-width: 768px) {
.project-info svg .cls-1 {
    stroke: #cbd5e1;
  }
}


.link-wrapper:hover .cls-1 {
  stroke: #d61a39;
  transition: all .3s ease-in-out;
}

.link-wrapper:hover > a {
  color: #d61a39;
}

.cls-1 {
  fill: none;
  stroke: #0e0d0d;
  stroke-linecap: round;
  stroke-width: 7px;
  fill-rule: evenodd;
}

.dash {
  fill: none;
  stroke: #0e0d0d;
  stroke-width: 3.8054;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.menu-wrapper button:hover {
  transition: all .2s ease-in-out;
  color: #d61a39;
  font-family: 'Caveat', cursive;
  font-style: bold;
  font-size: 2.5rem;
}

.color-text-wrapper {
  display: inline-flex;
}

.color-text-wrapper svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.custom-btn:hover .svg-wrapper {
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
}

.hover-text {
  display: none;
}

.custom-btn:hover .hover-text {
  display: flex;
}

.color-text {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(88deg, #000000, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-animation: hue 10s infinite linear; */
}

.color-bg {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(92deg, #000000, #7e22ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  padding: 10px 20px;
}

.text-footer {
  font-family: 'Caveat', cursive;
}

.contact-spin {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(-360deg);
  }
}