@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Poppins', sans-serif;
      /* font-family: 'Roboto', sans-serif; */
  }
}

.app {
  @apply relative w-full h-screen overflow-hidden;
}

.home {
  @apply w-fit xl:h-full flex xl:justify-between justify-start items-start flex-col xl:py-8 xl:px-36 sm:p-8 p-6 max-xl:gap-7 absolute z-10;
}

.page-content {
  @apply relative h-full flex-1 xl:justify-center justify-center flex flex-col gap-10;
}

.head-text {
  @apply text-[4rem] xl:leading-[4.5rem] leading-[2rem] font-bold;
}

.tab-btn {
  @apply w-14 h-14 flex justify-center items-center cursor-pointer select-none;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.leva-c-kWgxhW {
  display: none !important;
}

.cls-1 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 7px;
  fill-rule: evenodd;
}

.color-text-wrapper {
  display: inline-flex;
}

.color-text-wrapper svg {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.custom-btn:hover .svg-wrapper {
  width: 100%;
  height: 100%;
  left: 0;
  justify-content: flex-end;
  padding: 10px;
}

.hover-text {
  transform: translateX(-100%);
  transition: all .2s ease-in;
  opacity: 0;
}

.custom-btn:hover .hover-text {
  margin-bottom: 0;
  transform: translateX(0);
  opacity: 1;
}

.color-text {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(92deg, #000000, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* -webkit-animation: hue 10s infinite linear; */
}

.color-bg {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(92deg, #000000, #7e22ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  padding: 10px 20px;
}

.contact-spin {
  animation: spin 12s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(-360deg);
  }
}